* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: black 1px solid;
}

.container-vh-vw{ 
    width: 100vw;
}

.container-sezioni{
    display: flex;
    margin: auto;
    width: 100%;
    height: 100vh;
}

.colonna-sinistra{
    flex-basis: 20%;
}

.colonna-destra{
    flex-basis: 80%;
}