* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*border: black 1px solid;*/
}

#container-vh-vw{ 
    width: 100vw;
    height: 100vh;
    display: flex;
    margin: auto;
    flex-direction: column;
}

.container-superiore{
    display: flex;
    flex: 2;
    width: 100%;
    flex-direction: row-reverse;
    height: 80vh;
}

.container-h-m{
    flex: 6;
    height: 80vh;
    
}

  /*HEADER*/

.header{
    position: sticky;
    top: 0;
    display: flex;
    background-color: rgb(26, 25, 25);
    padding: 10px 0;
    padding-right: 20px;
    justify-content: end;
}

.b-header{
    color: white;
    border: 2px solid white;
    padding: 10px;
    background-color: transparent;
    border-radius: 20px;
}

  /* COLONNA SINISTRA NERA */

.colonna-sinistra-nera{
    position: fixed;
    position: relative;
    top: 0;
    width: 100%;
    flex: 1;
    background-color: black;
    color: white;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

.spotify-logo--text{
    width: 200px;
}

.libreria-icone{
    margin: 20px 0;
}

li{
    list-style: none;
    padding-top: 10px;
    font-size: 15px;
}

.icon-c-s{
    height: 25px;
    padding-right: 10px;
}

.titolo-c-s{
    font-size: 1.5rem;
}

.crea-playlist{
    display: flex;
    margin: auto;
    margin: 20px 0;
    align-items: center;
}

.crea-playlist>span{
    font-size: 1.2rem; 
}

.footer-c-s{
   display: flex;
   margin: auto;
   flex-direction: column;
   margin-top: 40px;
   /*padding-bottom:200px;*/
   vertical-align: center;
   
}

.p-installa{
    border-bottom: 1px solid grey;
    padding-top: 10px ;
    
}

  /* MAIN */

  .main{
    padding: 10px;
    height: calc(100vh - 15%);
    overflow-y: scroll;
    background-color: #05020e;
    color: white;
  }

 .lista-orizzontale{
    display: flex;
    margin: auto;
    justify-content: center;
 }

 .lista-o{
    padding-right: 20px;
 }

 .albums{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding-top: 20px;
}

.titoli-main{
    padding-top: 20px;
    padding-bottom: 10px;
}

.container-copertine{
    width: 100%;
    display: flex;
}

 .colonna{
    width: calc(100% / 6);
 }

 .colonna>img{
    height: 200px;
 }

 .container-nome-copertina{
    text-align: center;
    padding: 5px;
 }

 .nome-copertina{
    padding-top: 5px;
    color: grey;
 }

.copertine-rotonde{
    border-radius: 50%;

}


   /* FOOTER */

.footer{
    position: relative;
    position: sticky;
    bottom: 0;
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    background-color: rgb(44, 43, 43);
    color: white;
    height: 15%;
}

.col{
    width: calc(100%/ 3);
    padding: 10px;
    display: flex;
    align-items: center;
}

.img-footer{
    height: 70px;
}

.canzone-riproduzione{
    margin: 0 25px;
}

.canzone-riproduzione>h5{
    font-size: 1.5rem;
}

.col>i{
    margin: 0 15px;
}

.terza-col-footer{
    justify-content: end;
    /*vertical-align: middle;*/
   align-items: center;
}