* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*border: black 1px solid;*/
}

#container-vh-vw{ 
    width: 100vw;
    height: 100vh;
    display: flex;
    margin: auto;
    flex-direction: column;
}

.container-superiore{
    display: flex;
    flex: 2;
    width: 100%;
    flex-direction: row-reverse;
    height: 80vh;
}

.container-h-m{
    flex: 6;
    height: 80vh;
    
}

  /*HEADER*/

.header{
    position: sticky;
    top: 0;
    display: flex;
    background-color: rgb(26, 25, 25);
    padding: 10px 0;
    padding-right: 20px;
    justify-content: end;
}

.b-header{
    color: white;
    border: 2px solid white;
    padding: 10px;
    background-color: transparent;
    border-radius: 20px;
}

  /* COLONNA SINISTRA NERA */

.colonna-sinistra-nera{
    display: flex;
    position: fixed;
    position: relative;
    top: 0;
    width: 100%;
    flex: 1;
    background-color: black;
    color: white;
    padding-top: 20px;
    padding-left: 20px;
    flex-direction: column;
    justify-content: space-between;
}

.logo{
    background-image: url(../img/logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    height: 100px;
    width: 200px;
}

.libreria-icone{
    margin: 20px 0;
}

li{
    list-style: none;
    padding-top: 10px;
    font-size: 15px;
}

.border-left-hover{
    padding-left: 0;
}

.border-left-hover:hover{
    padding-left: 0;
    border-left: 2px solid lightgreen;
}

.icon-c-s{
    height: 25px;
    padding-right: 10px;
}

.titolo-c-s{
    font-size: 1.5rem;
}

.crea-playlist{
    display: flex;
    margin: auto;
    margin: 20px 0;
    align-items: center;
}

.crea-playlist>span{
    font-size: 1.2rem; 
}

.crea-playlist>i{
    font-size: 2rem; 
}

.footer-c-s{
   vertical-align: center;
}

.p-installa{
    border-bottom: 1px solid grey;
    padding-top: 10px ;
}

  /* MAIN */

  .main{
    padding: 10px;
    height: calc(100vh - 15%);
    overflow-y: scroll;
    background-color: #05020e;
    color: white;
  }

 .lista-orizzontale{
    display: flex;
    margin: auto;
    justify-content: center;
 }

 .lista-o{
    margin-right: 20px;
    border-width: 20px;
 }

 .lista-o:hover{
    border-bottom:1px solid lightgreen;
}

 .albums{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding-top: 20px;
    
}

.titoli-main{
    padding-top: 20px;
    padding-bottom: 10px;
}

.container-copertine{
    width: 100%;
    display: flex;
    margin: 5px;
}

 .colonna{
    width: calc(100% / 6);
   /* padding: 5px;*/
 }

 .colonna>img{
    height: 200px;
    width: 90%;
 }

 .container-nome-copertina{
    text-align: center;
    padding: 5px;
 }

 .nome-copertina{
    padding-top: 5px;
    color: grey;
 }

.copertine-rotonde{
    border-radius: 50%;

}


   /* FOOTER */

.footer{
    position: relative;
    position: sticky;
    bottom: 0;
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    background-color: rgb(44, 43, 43);
    color: white;
    height: 15%;
}

.col{
    width: calc(100%/ 3);
    padding: 10px;
    display: flex;
    align-items: center;
}

.img-footer{
    height: 70px;
}

.canzone-riproduzione{
    margin: 0 25px;
}

.canzone-riproduzione>h5{
    font-size: 1.5rem;
}

.col>i{
    margin: 0 15px;
}

.terza-col-footer{
    justify-content: end;
    /*vertical-align: middle;*/
   align-items: center;
}






















@media screen and (max-width: 768px){
    .main{
        width: 100%;
    }

    .lista-orizzontale {
        display: flex;
        margin: auto;
        justify-content: center;
        flex-wrap: wrap;
    }

    h1{
        margin-top: 30px;
    }

    .albums{
        display: flex;
        margin: auto;
        width: 100%;
        flex-wrap: wrap;
        padding-top: 20px;
        
    }

    .colonna{
        width: calc(100% / 4);
        text-align: center;
     }

     .colonna>img{
        width: 80%;
        height: 100px;
        text-align: center;
     }

     .container-copertine{
        width: 100%;
        display: flex;
    }

    .container-nome-copertina {
        text-align: center;
        padding: 5px;
    }

    


}













@media screen and (max-width:425px){
    
/* HEADER */
    #container-vh-vw{ 
    width: 100vw;
    height: 100vh;
    display: flex;
    margin: auto;
    flex-direction: column;
    }

    .b-header{
        color: white;
        border: 2px solid white;
        padding: 5px;
        background-color: transparent;
        border-radius: 20px;
        font-size: 0.8rem;
    }

    /* MAIN */
    
    .main{
        width: 100%;
        height: calc(100vh - 10%);
    }

    .lista-orizzontale {
        display: flex;
        margin: auto;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .lista-o{
        font-size: 0.8rem;
    }

    h1{
        margin-top: 30px;
        font-size: 1.2rem;
        padding-left: 10px;
    }

    .albums{
        display: flex;
        margin: auto;
        width: 100%;
        flex-wrap: wrap;
        padding-top: 20px;
    }

    .colonna{
        width: calc(100% / 2);
        text-align: center;
     }

     .colonna>img{
        width: 80%;
        height: 100px;
        text-align: center;
     }

     .container-copertine{
        width: 100%;
        display: flex;
    }

    .container-nome-copertina {
        text-align: center;
        padding: 5px;
        font-size: 0.7rem;
    }

    .colonna-sinistra-nera{
    display: flex;
    position: fixed;
    position: relative;
    top: 0;
    /*width: 600px;*/
    flex: 1;
    background-color: black;
    color: white;
    padding-top: 20px;
    padding-left: 5px;
    flex-direction: column;
    justify-content: space-between;
    font-size: 10px;
    
    }

    .logo{
        background-image: url(../img/logo.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        color: white;
        height: 25px;
        width: 80px;
        padding-right: 150px;
        padding-left: 0;
        align-items: flex-start;
    }

    .titolo-c-s{
        font-size: 10px;
    }

    .icon-c-s {
        height: 15px;
        padding-right: 5px;
    }

    .crea-playlist{
        font-size: 1.2rem;
        align-items: center;
    }

    .crea-playlist>i{
        
    }
    .crea-playlist>span{
        
        font-size: 1rem;
    }

    .spotify-logo--text{
        display: none;
        background-image: url(../img/logo-small.svg);
        color: white;
    }


    /* FOOTER */
    .footer{
        position: relative;
        position: sticky;
        bottom: 0;
        width: 100%;
        display: flex;
        margin: auto;
        justify-content: space-between;
        background-color: rgb(44, 43, 43);
        color: white;
        height: 10%;
    }
    
    .col{
        width: calc(100%/ 3);
        padding: 10px;
        display: flex;
        align-items: center;
    }
    
    .img-footer{
        height: 40px;
    }
    
    .canzone-riproduzione{
        margin: 0 8px;
    }
    
    .canzone-riproduzione>h5{
        font-size: 0.8rem;
    }

    .canzone-riproduzione>P{
        font-size: 0.5rem;
    }
    
    .col>i{
        margin: 0 15px;
    }

    .fa-heart{
        font-size: 10px;
    }

    .fa-folder{
        font-size: 10px;
    }
    
    .terza-col-footer{
        justify-content: end;
        /*vertical-align: middle;*/
       align-items: center;
       font-size: 10PX;
    }

    .col>i{
        margin: 0 5px;
    }

}